src/node_red/.flows_DESKTOP-G3G37JK.json.backup
[{"id":"8648b3cb.71011","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"272c8210.9f02de","type":"inject","z":"8648b3cb.71011","name":"","topic":"","payload":"HelloWorld","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":60,"wires":[["58c45262.69866c"]]},{"id":"58c45262.69866c","type":"debug","z":"8648b3cb.71011","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":60,"wires":[]},{"id":"1c329133.6e12cf","type":"uibuilder","z":"8648b3cb.71011","name":"Simple Example","topic":"","url":"hello_uib","fwdInMessages":false,"allowScripts":true,"allowStyles":true,"copyIndex":false,"showfolder":false,"x":480,"y":160,"wires":[[],[]]},{"id":"94fce337.7968","type":"inject","z":"8648b3cb.71011","name":"","topic":"uibuilder","payload":"YUzushio","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":270,"y":160,"wires":[["1c329133.6e12cf","b45ac059.f32d8"]]},{"id":"b45ac059.f32d8","type":"debug","z":"8648b3cb.71011","name":"qod-debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":220,"wires":[]},{"id":"b62895a7.c751c8","type":"comment","z":"8648b3cb.71011","name":"hello-uib","info":"サーバーからクライアントにメッセージを送信するシンプルなサンプルです。\nインジェクトボタンをクリックすることで画面の表記が変わります。\n\nこのプログラムは以下のリンク先のプログラムを変更して作成したものです\n\nhttps://github.com/TotallyInformation/node-red-contrib-uibuilder/wiki/Simple-example","x":240,"y":120,"wires":[]},{"id":"41d1aa17.4e67f4","type":"uibuilder","z":"8648b3cb.71011","name":"","topic":"","url":"uibuilder","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"x":460,"y":320,"wires":[["27fbb291.2dc2ee"],["f4d1d89d.373af8"]]},{"id":"9bcb703.888d29","type":"inject","z":"8648b3cb.71011","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":300,"wires":[["41d1aa17.4e67f4"]]},{"id":"27fbb291.2dc2ee","type":"debug","z":"8648b3cb.71011","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":740,"y":300,"wires":[]},{"id":"f4d1d89d.373af8","type":"debug","z":"8648b3cb.71011","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":740,"y":380,"wires":[]}]