src/node_red/flows_DESKTOP-G3G37JK.json
[{"id":"8648b3cb.71011","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"272c8210.9f02de","type":"inject","z":"8648b3cb.71011","name":"","topic":"","payload":"HelloWorld","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":160,"wires":[["58c45262.69866c"]]},{"id":"58c45262.69866c","type":"debug","z":"8648b3cb.71011","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":160,"wires":[]},{"id":"1c329133.6e12cf","type":"uibuilder","z":"8648b3cb.71011","name":"Simple Example","topic":"","url":"hello_uib","fwdInMessages":false,"allowScripts":true,"allowStyles":true,"copyIndex":false,"showfolder":false,"x":580,"y":300,"wires":[[],[]]},{"id":"94fce337.7968","type":"inject","z":"8648b3cb.71011","name":"","topic":"uibuilder","payload":"World","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":360,"y":300,"wires":[["1c329133.6e12cf","b45ac059.f32d8"]]},{"id":"b45ac059.f32d8","type":"debug","z":"8648b3cb.71011","name":"qod-debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":360,"wires":[]},{"id":"b62895a7.c751c8","type":"comment","z":"8648b3cb.71011","name":"hello-uib","info":"サーバーからクライアントにメッセージを送信するシンプルなサンプルです。\nインジェクトボタンをクリックすることで画面の表記が変わります。","x":340,"y":260,"wires":[]}]