src/node_red/flows_DESKTOP-G3G37JK.json
[{"id":"8648b3cb.71011","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"272c8210.9f02de","type":"inject","z":"8648b3cb.71011","name":"","topic":"","payload":"HelloWorld","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":60,"wires":[["58c45262.69866c"]]},{"id":"58c45262.69866c","type":"debug","z":"8648b3cb.71011","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":60,"wires":[]},{"id":"1c329133.6e12cf","type":"uibuilder","z":"8648b3cb.71011","name":"Simple Example","topic":"","url":"hello_uib","fwdInMessages":false,"allowScripts":true,"allowStyles":true,"copyIndex":false,"showfolder":false,"x":480,"y":160,"wires":[[],[]]},{"id":"94fce337.7968","type":"inject","z":"8648b3cb.71011","name":"","topic":"uibuilder","payload":"YUzushio","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":270,"y":160,"wires":[["1c329133.6e12cf","b45ac059.f32d8"]]},{"id":"b45ac059.f32d8","type":"debug","z":"8648b3cb.71011","name":"qod-debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":220,"wires":[]},{"id":"b62895a7.c751c8","type":"comment","z":"8648b3cb.71011","name":"hello-uib","info":"サーバーからクライアントにメッセージを送信するシンプルなサンプルです。\nインジェクトボタンをクリックすることで画面の表記が変わります。\n\nこのプログラムは以下のリンク先のプログラムを変更して作成したものです\n\nhttps://github.com/TotallyInformation/node-red-contrib-uibuilder/wiki/Simple-example","x":240,"y":120,"wires":[]},{"id":"41d1aa17.4e67f4","type":"uibuilder","z":"8648b3cb.71011","name":"","topic":"","url":"uibuilder","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"x":460,"y":320,"wires":[["27fbb291.2dc2ee"],["f4d1d89d.373af8"]]},{"id":"9bcb703.888d29","type":"inject","z":"8648b3cb.71011","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":300,"wires":[["41d1aa17.4e67f4"]]},{"id":"27fbb291.2dc2ee","type":"debug","z":"8648b3cb.71011","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":740,"y":300,"wires":[]},{"id":"f4d1d89d.373af8","type":"debug","z":"8648b3cb.71011","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":740,"y":380,"wires":[]},{"id":"10c583db.ce226c","type":"inject","z":"8648b3cb.71011","name":"repeat every 10s","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":560,"wires":[["9fe9d6ad.0adbe8"]]},{"id":"4b771202.cbbedc","type":"debug","z":"8648b3cb.71011","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":540,"wires":[]},{"id":"9bb07380.69eeb","type":"debug","z":"8648b3cb.71011","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":580,"wires":[]},{"id":"520ca306.4548dc","type":"uibuilder","z":"8648b3cb.71011","name":"","topic":"","url":"chart","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"x":590,"y":560,"wires":[["4b771202.cbbedc"],["9bb07380.69eeb"]]},{"id":"9fe9d6ad.0adbe8","type":"change","z":"8648b3cb.71011","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$random()*10","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":560,"wires":[["520ca306.4548dc"]]},{"id":"8045fe9b.c195c","type":"comment","z":"8648b3cb.71011","name":"html","info":"copy the following and paste into `index.html`\n\n```html\n<!doctype html><html lang=\"en\"><head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes\">\n\n    <title>vue-svg-gauge/VueJS Example - Node-RED UI Builder</title>\n    <meta name=\"description\" content=\"Node-RED UI Builder - vue-svg-gauge/VueJS Example\">\n\n    <link rel=\"icon\" href=\"./images/node-blue.ico\">\n\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"../uibuilder/vendor/bootstrap/dist/css/bootstrap.min.css\" />\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"../uibuilder/vendor/bootstrap-vue/dist/bootstrap-vue.css\" />\n\n    <link rel=\"stylesheet\" href=\"./index.css\" media=\"all\">\n</head><body>\n    <div id=\"app\">\n        <b-container id=\"app_container\">\n\n            <h1>\n                Example of using <a href=\"https://github.com/hellocomet/vue-svg-gauge\" target=\"_blank\">vue-svg-gauge</a>\n                with uibuilder, VueJS and bootstrap-vue\n            </h1>\n\n            <b-row>\n                <b-card class=\"mr-1\" header=\"SVG Gauge\" border-variant=\"primary\" header-bg-variant=\"primary\" header-text-variant=\"white\" align=\"center\">\n                    <vue-svg-gauge\n                        :start-angle=\"-110\"\n                        :end-angle=\"110\"\n                        :value=\"gValue\"\n                        :separator-step=\"1\"\n                        :min=\"0\"\n                        :max=\"10\"\n                        :gauge-color=\"[{ offset: 0, color: '#347AB0'}, { offset: 100, color: '#8CDFAD'}]\"\n                        :scale-interval=\"0.1\"\n                    >\n                        <div style=\"line-height: 12rem\">{{gValue.toFixed(2)}}</div>\n                    </vue-svg-gauge>\n                </b-card>\n\n\n            </b-row>\n\n        </b-container>\n    </div>\n\n    <script src=\"../uibuilder/vendor/socket.io/socket.io.js\"></script>\n    <script src=\"../uibuilder/vendor/vue/dist/vue.min.js\"></script>\n    <script src=\"../uibuilder/vendor/bootstrap-vue/dist/bootstrap-vue.js\"></script>\n\n    <!-- Loading from CDN, use uibuilder to install packages and change to vendor links -->\n    <script src=\"https://unpkg.com/vue-svg-gauge@1.2.0/dist/vue-svg-gauge.min.js\"></script>\n\n    <script src=\"./uibuilderfe.min.js\"></script> <!--    //prod version -->\n    <script src=\"./index.js\"></script>\n\n</body></html>\n```","x":470,"y":520,"wires":[]},{"id":"a9aba76c.6555a8","type":"comment","z":"8648b3cb.71011","name":"JavaScript","info":"Copy the following and paste into `index.js`\n\n```javascript\n/* jshint browser: true, esversion: 5 */\n/* globals document,Vue,window,uibuilder */\n// @ts-nocheck\n/*\n  Copyright (c) 2019 Julian Knight (Totally Information)\n\n  Licensed under the Apache License, Version 2.0 (the \"License\");\n  you may not use this file except in compliance with the License.\n  You may obtain a copy of the License at\n\n  http://www.apache.org/licenses/LICENSE-2.0\n\n  Unless required by applicable law or agreed to in writing, software\n  distributed under the License is distributed on an \"AS IS\" BASIS,\n  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n  See the License for the specific language governing permissions and\n  limitations under the License.\n*/\n'use strict'\n\n/** @see https://github.com/TotallyInformation/node-red-contrib-uibuilder/wiki/Front-End-Library---available-properties-and-methods */\n\n// eslint-disable-next-line no-unused-vars\nvar app1 = new Vue({\n    el: '#app',\n    data: {\n        gValue: 3,\n    }, // --- End of data --- //\n    computed: {\n    }, // --- End of computed --- //\n    methods: {\n    }, // --- End of methods --- //\n\n    // Available hooks: init,mounted,updated,destroyed\n    mounted: function(){\n        /** **REQUIRED** Start uibuilder comms with Node-RED @since v2.0.0-dev3\n         * Pass the namespace and ioPath variables if hosting page is not in the instance root folder\n         * e.g. If you get continual `uibuilderfe:ioSetup: SOCKET CONNECT ERROR` error messages.\n         * e.g. uibuilder.start('/nr/uib', '/nr/uibuilder/vendor/socket.io') // change to use your paths/names\n         */\n        uibuilder.start()\n\n        var vueApp = this\n\n        // Process new messages from Node-RED\n        uibuilder.onChange('msg', function (newVal) {\n            // We are assuming that msg.payload is an number between zero and 10\n\n            // Change value\n            vueApp.gValue = newVal.payload\n\n            //console.log(vueApp.gValue)\n        })\n\n    } // --- End of mounted hook --- //\n\n}) // --- End of app1 --- //\n\n// EOF\n```\n","x":580,"y":520,"wires":[]}]