sample_json/2_2_3_uibuiler_hello_world.json
[{"id":"1c329133.6e12cf","type":"uibuilder","z":"8648b3cb.71011","name":"Simple Example","topic":"","url":"hello_uib","fwdInMessages":false,"allowScripts":true,"allowStyles":true,"copyIndex":false,"showfolder":false,"x":700,"y":300,"wires":[[],[]]},{"id":"94fce337.7968","type":"inject","z":"8648b3cb.71011","name":"","topic":"uibuilder","payload":"YUzushio","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":370,"y":300,"wires":[["1c329133.6e12cf","b45ac059.f32d8"]]},{"id":"b45ac059.f32d8","type":"debug","z":"8648b3cb.71011","name":"qod-debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":380,"wires":[]},{"id":"b62895a7.c751c8","type":"comment","z":"8648b3cb.71011","name":"hello-uib","info":"サーバーからクライアントにメッセージを送信するシンプルなサンプルです。\nインジェクトボタンをクリックすることで画面の表記が変わります。\n\nこのプログラムは以下のリンク先のプログラムを変更して作成したものです\n\nhttps://github.com/TotallyInformation/node-red-contrib-uibuilder/wiki/Simple-example","x":340,"y":260,"wires":[]}]