sample_json/2_2_3_uibuiler_hello_world.json
[{"id":"1c329133.6e12cf","type":"uibuilder","z":"8648b3cb.71011","name":"Simple Example","topic":"","url":"hello_uib","fwdInMessages":false,"allowScripts":true,"allowStyles":true,"copyIndex":false,"showfolder":false,"x":360,"y":580,"wires":[[],[]]},{"id":"94fce337.7968","type":"inject","z":"8648b3cb.71011","name":"","topic":"uibuilder","payload":"World","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":140,"y":580,"wires":[["1c329133.6e12cf","b45ac059.f32d8"]]},{"id":"b45ac059.f32d8","type":"debug","z":"8648b3cb.71011","name":"qod-debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":370,"y":640,"wires":[]},{"id":"b62895a7.c751c8","type":"comment","z":"8648b3cb.71011","name":"hello-uib","info":"サーバーからクライアントにメッセージを送信するシンプルなサンプルです。\nインジェクトボタンをクリックすることで画面の表記が変わります。","x":120,"y":540,"wires":[]}]